<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stomatološka_ordinacija.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Stomatološka_ordinacija.Properties.Settings.StomatoloskaOrdinacijaConnectionString"
            connectionString="Data Source=ANTE\SQLEXPRESS;Initial Catalog=StomatoloskaOrdinacija;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Stomatološka_ordinacija.Properties.Settings>
            <setting name="Izlaz" serializeAs="String">
                <value>iExit</value>
            </setting>
            <setting name="Izbriši" serializeAs="String">
                <value>barButtonItem4</value>
            </setting>
        </Stomatološka_ordinacija.Properties.Settings>
    </userSettings>
</configuration>